{% extends "base.html" %}
{% block title %} Add Vehicle {% endblock %}

{% block content %}

<div class="form-container"> 
    <h2 class="mb-4 form-title">Add a New Vehicle</h2>
    <form action="/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                    {% if field.field.required %}
                        <span class="required-star">*</span>
                    {% endif %}
                </label>
                {{ field }}
        {% endfor %}
        <button type="submit" class="btn btn-primary form-button">Submit</button>
    </form>
</div>



{% endblock %}