{% extends "base.html" %} {% block title %} Vehicle Specifications {% endblock %}
{% block content %}

<div class="container my-4" style= "width: 60vw">

  <!-- Back to Home Button -->
  <a href="{% url 'search' %}" class="btn btn-secondary mb-4">Back to Home</a>
    <div class="card p-4">
        <h4 class="fw-bold">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} {{vehicle.trim}}</h4>
        <p class="fw-bold">Type: {{vehicle.body}}</a></p>
        <div class="col-md-4 mx-auto">
            <img src="{{imageUrl}}" style="max-width: 100%; object-fit:contain;">
        </div>
        
        <hr>
        
        <div class="mt-4">
            <h5 class="fw-bold">Description</h5>
            <p>{{vehicle.description | default:"N/A"}}</p>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="mt-3"><strong>Price</strong> <span class="float-end">{{vehicle.price}}</span></div>
                <div class="mt-3"><strong>Engine Type</strong> <span class="float-end">{{vehicle.engine | default:"N/A"}}</span></div>
                <div class="mt-3"><strong>Cylinders</strong> <span class="float-end">{{vehicle.cylinder | default:"N/A"}}</span></div>
                <div class="mt-3"><strong>Fuel Type</strong> <span class="float-end">{{vehicle.fuel | default:"N/A"}}</span></div>
            </div>
            
            <div class="col-md-6">
                <div class="mt-3"><strong>Transmission</strong> <span class="float-end">{{vehicle.transmission | default:"N/A"}}</span></div>
                <div class="mt-3"><strong>Drive Train</strong> <span class="float-end">{{vehicle.drivetrain | default:"N/A"}}</span></div>
                <div class="mt-3"><strong>Exterior Colour</strong> <span class="float-end">{{vehicle.exterior_color | default:"N/A"}}</span></div>
                <div class="mt-3"><strong>Interior Colour</strong> <span class="float-end">{{vehicle.interior_color | default:"N/A"}}</span></div>
        
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a href="{% url 'edit' vehicle.id %}" class="btn btn-primary">Edit Vehicle</a>
          <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Vehicle</button>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confrim Deletion</h5>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete "{{ vehicle.make }} {{ vehicle.model }}"?</p>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'delete' vehicle.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
    </div>  
</div>
{% endblock %}