{% extends "base.html" %} 
{% block title %} Search Results {% endblock %}
{% block content %}
{% load humanize %}


<style>
    body {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,0,65,1) 90%, rgba(1,0,255,1) 100%);
    }
</style>

<!-- Navigation Bar -->

<!-- <nav class ="navbar navbar-expand-lg navbar-dark bg-grey">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src ="media/assets/masca_whips_logo.png" alt="Logo" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn text-primary" href="">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-primary" style="background-color: darkgrey; " href="">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="container" style="margin-top: 50px">
    <h1 id="main-header">Look through our car catalogue!</h1>
    <form method="GET" action="{% url 'search' %}">
        <div class="mb-3 search-container"> 
            <input type="search" placeholder="Search" name="catalogue-search" class="form-control" id="catalogue-search" aria-describedby="search-vehicles" value="{{ query }}">
            <i class="fas fa-search search-icon"></i>
        </div>
            <div id="main-btn-container">
                <button type="submit" class="btn btn-primary main-page-btn">Search</button>
                {% if user.is_staff %}
                <a href="{% url 'add' %}" class="btn btn-primary main-page-btn">Add Vehicle</a>
                {% endif %}
                <a href="{% url 'filter' %}" class="btn btn-primary main-page-btn">Filter</a>
            </div>
        </form>

    {% if vehicles %}
    <div class="row">
        {% for vehicle in vehicles %}
            <div class="col-md-3 d-flex mb-4">
                <div class="vehicle-card w-100">
                    <div class="image-container">
                        {% if vehicle.image %}
                            <img class="card-img-top main-veh-image" src="{{ vehicle.image.url }}" alt="{{ vehicle.make }} {{ vehicle.model }}">
                        {% else %}
                            <img class="card-img-top main-veh-image" src="/media/assets/x6m.png" alt="No Image Available">
                        {% endif %}
                        <style>
                            .image-container {
                                background-color: #333;
                                color: white;
                            }
                        </style>
                    </div> 
                    <div class="card-body">
                        <div>
                            <div class="vehicle-title">{{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})
                                {% if user.is_authenticated %}
                                    {% if vehicle.id in favourites %}
                                        <a href="{% url 'toggle_favourite' vehicle.id %}"><i class="fa-solid fa-star fav-icon"></i></a>
                                    {% else %}
                                        <a href="{% url 'toggle_favourite' vehicle.id %}"><i class="fa-regular fa-star fav-icon"></i></a>
                                    {% endif %}
                                {% endif %}
                                <style>
                                    .vehicle-title {
                                        color: white;
                                    }
                                </style>
                            </div>
                            <p class="card-text">Trim: {{ vehicle.trim }}<br>${{ vehicle.price|intcomma }}</p>
                            <style>
                                .card-text {
                                    color: white;
                                }
                            </style>
                        </div>
                        <a href="{% url 'details' vehicle.id %}" class="btn btn-outline-primary vehicle-info-btn mt-3">View Details</a>
                        <style>
                            .card-body{
                                background-color: #333; /* Dark Grey */
                                color: white; /* White Text */
                            }
                            
                        </style>
                    </div>
                   
                </div>
            </div>
        {% endfor %}
    </div>
    
    
        <!-- Pagination -->
        {% with request.GET.dict as get_params %}
        <nav>
            <ul class="pagination">
                {% if vehicles.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% for key, value in get_params.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ vehicles.previous_page_number }}{% for key, value in get_params.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link">Page {{ vehicles.number }} of {{ vehicles.paginator.num_pages }}</a>
                </li>

                {% if vehicles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ vehicles.next_page_number }}{% for key, value in get_params.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ vehicles.paginator.num_pages }}{% for key, value in get_params.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endwith %}
    {% else %}
        {% if query != "" %}
            <p>No results found for "{{ query }}"</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
